<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Servlets</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

<!--    <servlet>-->
<!--        <servlet-name>StringToListServlet</servlet-name>-->
<!--        <servlet-class>com.company.servlets.StringToListServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>StringToListServlet</servlet-name>-->
<!--        <url-pattern>/Servlets/stringToList</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>AdjacencyMatrixServlet</servlet-name>-->
<!--        <servlet-class>com.company.servlets.AdjacencyMatrixServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AdjacencyMatrixServlet</servlet-name>-->
<!--        <url-pattern>/Servlets/adjacencyMatrix</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>